#ifndef LOTI_STR_EASY

#textdomain wesnoth-lib

#define LOI_STR_EASY
_ "Easy" #enddef

#define LOI_STR_BACK
_"Back" #enddef
#define LOI_STR_EXIT
_"Exit" #enddef
#define LOI_STR_LEAVE
_"Leave" #enddef
#define LOI_STR_NO
_"No" #enddef
#define LOI_STR_YES
_"Yes" #enddef

#define LOI_STR_DEEP_WATER
_ "Deep Water" #enddef
#define LOI_STR_FORD
_ "Ford" #enddef
#define LOI_STR_FOREST
_ "Forest" #enddef

#define LOI_STR_GOLD
_"Gold" #enddef

################################ TEXTDOMAIN "wesnoth-units" ################################
#textdomain wesnoth-units

#define LOI_STR_PEASANT
_ "Peasant" #enddef
#define LOI_STR_SPEARMAN
_ "Spearman" #enddef
#define LOI_STR_SWORDSMAN
_ "Swordsman" #enddef

#define LOI_STR_BITE
_"bite" #enddef
#define LOI_STR_BOW
_"bow" #enddef
#define LOI_STR_CHILL_TEMPEST
_"chill tempest" #enddef
#define LOI_STR_CLUB
_"club" #enddef
#define LOI_STR_CRUSH
_"crush" #enddef
#define LOI_STR_CURSE
_"curse" #enddef
#define LOI_STR_FANGS
_"fangs" #enddef
#define LOI_STR_FIREBALL
_"fireball" #enddef
#define LOI_STR_FIST
_"fist" #enddef
#define LOI_STR_FLAMETHROWER
_"flamethrower" #enddef
#define LOI_STR_HAMMER
_"hammer" #enddef
#define LOI_STR_LIGHTNING
_"lightning" #enddef
#define LOI_STR_MISSILE
_"missile" #enddef
#define LOI_STR_PINCERS
_"pincers" #enddef
#define LOI_STR_SLAM
_"slam" #enddef
#define LOI_STR_SPEAR
_"spear" #enddef
#define LOI_STR_STAFF_ATTACK_NAME
_"staff" #enddef
#define LOI_STR_STING
_"sting" #enddef
#define LOI_STR_SWORD
_"sword" #enddef
#define LOI_STR_THUNDERSTICK
_"thunderstick" #enddef
#define LOI_STR_TUSK
_"tusk" #enddef
#define LOI_STR_WAR_TALON
_"war talon" #enddef
#define LOI_STR_WEB
_"web" #enddef

################################ TEXTDOMAIN "wesnoth" ################################

#textdomain wesnoth
#define LOI_STR_NAME_AXE
_ "Axe" #enddef
#define LOI_STR_NAME_BOW
_"Bow" #enddef
#define LOI_STR_NAME_BRANCH
_ "Branch" #enddef
#define LOI_STR_NAME_CLUB
_"Club" #enddef
#define LOI_STR_NAME_CROSSBOW
_ "Crossbow" #enddef
#define LOI_STR_NAME_HAMMER
_"Hammer" #enddef
#define LOI_STR_NAME_MACE
_"Mace" #enddef
#define LOI_STR_NAME_STAFF
_"Staff" #enddef
#define LOI_STR_NAME_SWORD
_"Sword" #enddef

#define LOI_STR_NORTH
_"North" #enddef
#define LOI_STR_SOUTH
_"South" #enddef

################################ TEXTDOMAIN "wesnoth-help" ################################

#textdomain wesnoth-help
#define LOI_STR_MIDDAY
_ "Midday" #enddef

#define LOI_STR_PETRIFIES
_ "petrifies" #enddef
#define LOI_STR_SWARM
_"swarm" #enddef

#endif