#textdomain wesnoth-loi
[scenario]
	id="40_Hall_of_Skulls"
	name= _ "Hall of Skulls"
	map_data="{~add-ons/Legends_of_Idaamub/maps/40_Hall_of_Skulls.map}"
	victory_when_enemies_defeated=no
	# next_scenario=38_Isut

	# {TURNS 40 40 40}

	{DEFAULT_SCHEDULE}
	{DEFAULT_MUSIC_PLAYLIST}

	{PLACE_IMAGE scenery/switch.png 33 13}
	{ANIMATED_MAUSOLEUM 23 36}
	{ANIMATED_MAUSOLEUM 32 48}

	[event]
        name=prestart

        [set_variable]
            name=scenario_number
            value=40
        [/set_variable]

        {VARIABLE sarcophagus_1_opened 0}
        {VARIABLE sarcophagus_2_opened 0}

        [objectives]
            side=1
            [objective]
                description= _ "Exit the cave to the east"
                condition=win
            [/objective]
            [objective]
                {ALTERNATIVE_OBJECTIVE_CAPTION}
                description= _ "Get rid of all Dunefolk"+{EARLY_FINISH_BONUS_FOOTNOTE}
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Io"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=100
            [/gold_carryover]
        [/objectives]

        {LOI_RECALL_ALL 3 12}
    [/event]

    [side]
        type="Young Man LoI"
        id=Io
        name="Io"
        x=3
        y=11
        fog=no
        shroud=yes
        profile=portraits/Io.png
        side=1
		defeat_condition=no_units_left
        canrecruit=yes
        controller=human
        team_name=heroes
        user_team_name=_"Heroes"
    [/side]

    [side]
		fog=no
		hidden=no
		no_leader=yes
		shroud=no
		side=2
		team_name=dunefolk
		user_team_name=_"Dunefolk"
		[unit]
			ai_special=guardian
			name=_"Alas"
			type="Dune Blademaster"
			x=31
			y=3
		[/unit]
		[unit]
			ai_special=guardian
			name=_"Abizuq"
			type="Dune Windbolt"
			x=30
			y=10
		[/unit]
		[unit]
			ai_special=guardian
			name=_"Zanabair"
			type="Dune Windbolt"
			x=13
			y=10
		[/unit]
		[unit]
			ai_special=guardian
			name=_"Quih bin Alani"
			type="Dune Windbolt"
			x=17
			y=6
		[/unit]
		[unit]
			ai_special=guardian
			name=_"Waih"
			type="Dune Blademaster"
			x=29
			y=20
		[/unit]
		[unit]
			ai_special=guardian
			name=_"Niih"
			type="Dune Windbolt"
			x=42
			y=21
		[/unit]
		[unit]
			ai_special=guardian
			name=_"Munin"
			type="Dune Windbolt"
			x=42
			y=22
		[/unit]
		[unit]
			ai_special=guardian
			name=_"Qabi"
			type="Dune Blademaster"
			x=43
			y=22
		[/unit]
		[unit]
			ai_special=guardian
			name=_"Amair"
			type="Dune Windbolt"
			x=47
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			name=_"Raglah"
			type="Dune Windbolt"
			x=46
			y=6
		[/unit]
		[unit]
			ai_special=guardian
			name=_"Thasawsim"
			type="Dune Windbolt"
			x=47
			y=16
		[/unit]
		[unit]
			ai_special=guardian
			name=_"Lut ibnAmin"
			type="Dune Blademaster"
			x=48
			y=10
		[/unit]
	[/side]

	[side]
		fog=no
		hidden=no
		no_leader=yes
		shroud=no
		side=3
		team_name=dunefolk
		user_team_name=_"Skulls"
		[unit]
			ai_special=guardian
			type="Spectre"
			x=22
			y=25
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=28
			y=26
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=35
			y=28
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=24
			y=38
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=21
			y=38
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=21
			y=33
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=24
			y=33
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=35
			y=35
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=34
			y=37
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=27
			y=46
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=35
			y=45
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=31
			y=44
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=31
			y=51
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=28
			y=48
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=32
			y=45
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=32
			y=51
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=30
			y=44
		[/unit]
		[unit]
			ai_special=guardian
			type="Spectre"
			x=31
			y=50
		[/unit]
	[/side]

	[event]
		name=prestart

		#ifdef HARD
		[terrain]
			x=2,2
			y=11,12
			terrain=Ur
		[/terrain]
		#endif

		#ifdef EASY
		[terrain]
			x=1,3
			y=12,11
			terrain=Ce
		[/terrain]
		#endif
	[/event]

	[event]
		name=start
		[message]
			speaker=Io
			message=_"One more cave."
		[/message]
		[message]
			speaker=Io
			message=_"Our main mission remains the same. We need to reach Idaamub's castle. To do so, we will need to pass through Dunefolk territory."
		[/message]
		[message]
			speaker=Io
			message=_"Dunefolk seem to have allied with Ock, so we will most probably have to fight agaist them. Soimaql also asked us to capture the western Dunefolk village."
		[/message]
		[if]
			[have_unit]
				id=Ubidaiubua
				side=1
			[/have_unit]
			[then]
				[message]
					speaker=Ubidaiubua
					message=_"We also need to find my cousin, Bta, who was taken by the Dunefolk."
				[/message]
				[message]
					speaker=Io
					message=_"I know you are worried about your cousin, but I don't think she at risk in the hand of the Dunefolk. We will rescue her if we find her, but we won't get out of our way to look for her."
				[/message]
			[/then]
			[else]
				[message]
					speaker=Io
					message=_"They also seem to have taken a young girl. We will rescue her if we find her, but our mission should take priority. "
				[/message]
			[/else]
		[/if]
	[/event]

	[event]
		name=enter_hex
		[filter]
			side=1
		[/filter]
		[filter_condition]
			[have_location]
				x=32,32
				y=12,13
				[filter_vision]
					side=1
				[/filter_vision]
			[/have_location]
		[/filter_condition]
		[message]
			speaker=unit
			message=_"There is a huge skull carved into the rock. There is a lever on the floor on its left."
		[/message]
	[/event]

	[event]
		name=moveto
		first_time_only=no
		[filter]
			side=1
			x,y=33,13
		[/filter]
		[if]
			[have_location]
				x,y=32,12
				terrain=Xoa
			[/have_location]
			[then]
				[message]
					speaker=unit
					message=_"There is a lever on the floor. Should I pull it?"
					[option]
						message=_"Yes, do it."
						[command]
							[terrain]
								x=32,32
								y=12,13
								terrain=Isa
							[/terrain]
							{REMOVE_IMAGE 33 13}
							{PLACE_IMAGE scenery/switchoff.png 33 13}
							[redraw]
								clear_shroud=yes
							[/redraw]
							[message]
								speaker=unit
								message=_"The skull opened its mouth. There seem to be a room behind."
							[/message]
							[if]
								[have_unit]
									id=Ubidaiubua
									side=1
								[/have_unit]
								[then]
									[message]
										speaker=Io
										message=_"I assume it must be the Hall of Skull."
									[/message]
									[message]
										speaker=Ubidaiubua
										message=_"We have to explore it. The Dunefolk might have taken Bta there."
									[/message]
								[/then]
								[else]
									[message]
										speaker=Io
										message=_"I assume it must be the Hall of Skulls. The Dunefolk might have taken the girl there."
									[/message]
								[/else]
							[/if]
						[/command]
					[/option]
					[option]
						message=_"No, not now."
					[/option]
				[/message]
			[/then]
		[/if]
	[/event]

	[event]
		name=sighted
		[filter]
			type=Spectre
		[/filter]

		[filter_second]
			side=1
		[/filter_second]
		[message]
			speeker=second_unit
			message=_"Undead?!"
		[/message]
		[message]
			speaker=Io
			message=_"Isut's undead already had surrounded the fortress? I was closer from falling than we thought."
		[/message]
		[message]
			id="Skepf","Teumiuxe"
			message=_"Don't worry. Those have always been there."
		[/message]
		[message]
			id="Skepf","Teumiuxe"
			message=_"The Hall of Skulls is a necropolis, so such a phenomenon tends to happen."
		[/message]
	[/event]

	[event]
		name=moveto
		first_time_only=no
		[filter]
			side=1
			x,y=23,36
		[/filter]
		[if]
			[variable]
				name=sarcophagus_1_opened
				equals=0
			[/variable]
			[then]
				[message]
					speaker=unit
					message=_"There is a huge sarcophagus. Should I have a look at what is inside?"
					[option]
						message=_"Yes, but carefully."
						[command]
							{VARIABLE sarcophagus_1_opened 1}
							{DEFAULT_DROP_ITEM 23 36 (bow, staff,sword,axe,mace) 2,3} 
							[message]
								speaker=unit
								message=_"There was a treasure in the sarcophagus."
							[/message]
						[/command]
					[/option]
					[option]
						message=_"No, we are no tomb raider."
					[/option]
				[/message]
			[/then]
		[/if]
	[/event]

	[event]
		name=moveto
		first_time_only=no
		[filter]
			side=1
			x,y=32,48
		[/filter]
		[if]
			[variable]
				name=sarcophagus_2_opened
				equals=0
			[/variable]
			[then]
				[message]
					speaker=unit
					message=_"There is a huge sarcophagus. Should I have a look at what is inside?"
					[option]
						message=_"Yes, but carefully."
						[command]
							{VARIABLE sarcophagus_2_opened 1}
							{DEFAULT_DROP_ITEM 32 48 (bow, staff,sword,axe,mace) 2,3} 
							[message]
								speaker=unit
								message=_"There was a treasure in the sarcophagus."
							[/message]
						[/command]
					[/option]
					[option]
						message=_"No, we are no tomb raider."
					[/option]
				[/message]
			[/then]
		[/if]
	[/event]

	[event]
		name=moveto
		first_time_only=no
		[filter]
			side=1
			x=64
			y=17
		[/filter]
		[if]
			[variable]
				name=unit.variables.hero
				equals=yes
			[/variable]
			[then]
				[message]
					speaker=unit
					message= _ "Here is the exit. Let's continue to the Dunefolk village."
				[/message]
				[if]
					[have_unit]
						id=Ubidaiubua
						side=1
					[/have_unit]
					[then]
						[message]
							speaker=Ubidaiubua
							message=_"We cannot leave yet. We have not looked everywhere for Bta."
						[/message]
						[message]
							speaker=Io
							message=_"I am story Ubidaiubua, but our mission is too important, we cannot waste more time in this cave."
						[/message]
						[message]
							speaker=Ubidaiubua
							message=_"<i>visibly angry</i> I will remember that."
						[/message]
					[/then]
				[/if]
				{END_FOOD}
				[endlevel]
					bonus=no
					result=victory
					{NEW_GOLD_CARRYOVER 100}
				[/endlevel]
			[/then]
			[else]
				[message]
					speaker=Io
					message= _ "Wait for us! We are still fighting the Dunefolk here!"
				[/message]

				[allow_undo]
				[/allow_undo]
			[/else]
		[/if]
	[/event]

	[event]
		name=die
		first_time_only=no
		[filter]
			side=2
		[/filter]
		[if]
			[have_unit]
				side=2
			[/have_unit]
			[then]
				[message]
					speaker=unit
					message= _ "I don't see any other Dunefolk around here. He must have been the last one."
				[/message]
				[if]
					[have_unit]
						id=Ubidaiubua
						side=1
					[/have_unit]
					[then]
						[message]
							speaker=Ubidaiubua
							message=_"And still no sign of Bta. I wonder where she might be."
						[/message]
						[message]
							speaker=Io
							message=_"They probably took her the the village. I am sure we will find her there."
						[/message]
						[message]
							speaker=Ubidaiubua
							message=_"I hope so."
						[/message]
					[/then]
					[else]
						[message]
							speaker=Io
							message=_"And still no sign of the girl. I wonder where she might be."
						[/message]
						[message]
							speaker=Io
							message=_"They probably took her the the village. I am sure we will find her there."
						[/message]
						[message]
							speaker=Io
							message=_"At least I hope so."
						[/message]
					[/else]
				[/if]
				[message]
					speaker=Io
					message= _ "Now let's continue to the Dunefolk village."
				[/message]
				{END_FOOD}
				[endlevel]
					bonus=no
					result=victory
					{NEW_GOLD_CARRYOVER 100}
				[/endlevel]
			[/then]
		[/if]
	[/event]

	[event]
		name=time over
		[message]
			speaker=Io
			message="Dunefolk are indeed as good fighters as blacksmith. I don't think we will be able to defeat them."
		[/message]
	[/event]

	[event]
		name=victory
		{CLEAR_VARIABLE sarcophagus_1_opened}
        {CLEAR_VARIABLE sarcophagus_2_opened}
	[/event]

	{DROPS 20 0 (bow, staff,sword,axe,mace) yes 2,3}

	{DISABLE_NEGATIVE_INCOME 1}

	{GLOBAL_EVENTS}
[/scenario]