#textdomain wesnoth-loi
[scenario]
	id="41_Sand_River"
	name= _ "Sand River"
	map_data="{~add-ons/Legends_of_Idaamub/maps/41_Sand_River.map}"
	victory_when_enemies_defeated=no
	next_scenario=42_Desert_Bridges

	{TURNS 200 200 200}

	{DEFAULT_SCHEDULE}
	{DEFAULT_MUSIC_PLAYLIST}

	{PLACE_IMAGE scenery/signpost.png 43 17}

	[event]
        name=prestart

        [set_variable]
            name=scenario_number
            value=41
        [/set_variable]

        {SCATTER_IMAGE (terrain=Mdd^Xm
        [filter_adjacent_location]
        	terrain=Dd
        [/filter_adjacent_location]) 5 scenery/mine-abandoned.png}
        {SCATTER_IMAGE (terrain=Dd) 5 scenery/monolith1.png}

        [objectives]
            side=1
            [objective]
                description= _ "Progress to the east"
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Io"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=100
            [/gold_carryover]
        [/objectives]

        {LOI_RECALL_ALL 3 10}
    [/event]

    [side]
        type="Young Man LoI"
        id=Io
        name="Io"
        x=3
        y=10
        fog=no
        shroud=yes
        profile=portraits/Io.png
        side=1
		defeat_condition=no_units_left
        canrecruit=yes
        controller=human
        team_name=heroes
        user_team_name=_"Heroes"
    [/side]

    [side]
		fog=no
		hidden=no
		no_leader=no
		shroud=no
		side=2
		team_name=dunefolk
		user_team_name={STR_DUNEFOLK}
		recruit=Dune Blademaster,Dune Windbolt,Dune Spearmaster,Dune Firetrooper,Dune Harrier
		{GOLD 0 400 5625}
		income=177
		[unit]
			canrecruit=yes
			ai_special=guardian
			name="Alalah bin Nur"
			type="Dune Paragon"
			x=71
			y=17
		[/unit]
	[/side]

	[side]
		fog=no
		hidden=no
		no_leader=yes
		shroud=no
		side=3
		team_name=dunefolk
		user_team_name=_"Wildlife"
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=19
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=74
			y=19
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=38
			y=11
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=52
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=17
			y=8
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=19
			y=11
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=25
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=58
			y=10
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=55
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=39
			y=18
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=20
			y=10
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=35
			y=15
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=50
			y=11
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=11
			y=9
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=16
			y=12
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=66
			y=16
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=38
			y=19
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=37
			y=23
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=17
			y=9
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=24
			y=9
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=66
			y=19
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=42
			y=11
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=12
			y=7
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=54
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=76
			y=18
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=44
			y=17
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=14
			y=9
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=40
			y=17
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=44
			y=15
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=54
			y=12
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=50
			y=10
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=58
			y=12
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=26
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=41
			y=16
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=22
			y=10
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=45
			y=16
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=47
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=27
			y=11
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=69
			y=19
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=77
			y=19
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=38
			y=20
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=32
			y=14
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=16
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			type="Dreadscale LoI"
			x=63
			y=20
		[/unit]
		[unit]
			ai_special=guardian
			type="Dreadscale LoI"
			x=38
			y=14
		[/unit]
		[unit]
			ai_special=guardian
			type="Dreadscale LoI"
			x=5
			y=5
		[/unit]
		[unit]
			ai_special=guardian
			type="Dreadscale LoI"
			x=23
			y=8
		[/unit]
		[unit]
			ai_special=guardian
			type="Dreadscale LoI"
			x=53
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			type="Dreadscale LoI"
			x=7
			y=8
		[/unit]
		[unit]
			ai_special=guardian
			type="Dreadscale LoI"
			x=5
			y=7
		[/unit]
		[unit]
			ai_special=guardian
			type="Dreadscale LoI"
			x=19
			y=12
		[/unit]
		[unit]
			ai_special=guardian
			type="Dreadscale LoI"
			x=36
			y=22
		[/unit]
		[unit]
			ai_special=guardian
			type="Dreadscale LoI"
			x=60
			y=9
		[/unit]
		[unit]
			ai_special=guardian
			type="Giant Spider"
			x=42
			y=21
		[/unit]
	[/side]

	[side]
		no_leader=yes
		fog=no
		shroud=no
		side=4
		ai_algorithm=idle_ai
		team_name=heroes,dunefolk
		user_team_name="Rboekmocqu"
		[unit]
			id=Rboekmocqu
			name="Rboekmocqu"
			type="Dwarvish Pathfinder"
			x=42
			y=19
		[/unit]
	[/side]

	[event]
		name=prestart

		#ifdef HARD
		[terrain]
			x=2,2
			y=9,10
			terrain=Dd
		[/terrain]
		[terrain]
			x=74,74
			y=16,17
			terrain=Cd
		[/terrain]
		#endif

		#ifdef EASY
		[terrain]
			x=1,5
			y=10,10
			terrain=Ce
		[/terrain]
		[terrain]
			x=72,73
			y=16,17
			terrain=Dd
		[/terrain]
		#endif
	[/event]

	[event]
		name=start
		[message]
			speaker=Io
			message=_"I had heard that the desert was warm, but I have to admit I was not excepting something that harsh. How can people even live here?"
		[/message]
		[message]
			side=1
			[not]
				id=Io
			[/not]
			message=_"Hardly. I heard they mostly live during the night and dress in light white clothes."
		[/message]
		[message]
			speaker=Io
			message=_"It seems there is still some water around here."
		[/message]
		[message]
			{MAGE_FILTER}
			message=_"The water comes from the mountain. I read that they cultivate the soil that is close to the river."
		[/message]
		[message]
			{MAGE_FILTER}
			message=_"It overflows once a year, bringing nutrients from the mountains and depositing it on the fields. I also heard that the river is full of ferocious animals though."
		[/message]
		[if]
			[have_unit]
				id=Ubidaiubua
				side=1
			[/have_unit]
			[then]
				[message]
					speaker=Io
					message=_"Anyway, we are not here to settle but to defeat the Dunefolk and find Bta. Let's go."
				[/message]
			[/then]
			[else]
				[message]
					speaker=Io
					message=_"Anyway, we are not here to settle but to defeat the Dunefolk and find the girl. Let's go."
				[/message]
			[/else]
		[/if]
	[/event]

	[event]
		name=sighted, attack
		[filter]
			type=Dreadscale LoI
		[/filter]

		[filter_second]
			side=1
		[/filter_second]
		[message]
			speeker=second_unit
			message=_"That's one weird looking lizard."
		[/message]
		[if]
			[have_unit]
				{MAGE_FILTER}
			[/have_unit]
			[then]
				[message]
					speaker=Io
					message=_"Is this one of those famous river lizards?"
				[/message]
				[message]
					{MAGE_FILTER}
					message=_"Yes, but be careful, they are carnivorous."
				[/message]
				[message]
					speaker=Io
					message=_"Oh."
				[/message]
			[/then]
		[/if]
	[/event]

	[event]
        name=moveto, Rboekmocqu_talk
        first_time_only=no
        [filter]
			side=1
			[filter_adjacent]
				id=Rboekmocqu
				side=4
			[/filter_adjacent]
		[/filter]
        [message]
            speaker=Rboekmocqu
            message= _ "Hello."
            [option]
                message=_"Hello. Who are you?"
                [command]
                    [message]
                        speaker=Rboekmocqu
                        message= _ "I'm Rboekmocqu. One eternity ago, I fought side by side with da 10th Legion during da Battle of da Plains. "
                    [/message]
                    [message]
                        speaker=Rboekmocqu
                        message= _ "Nowadays, I don't trust anyone, be it king, Legion, Dunefolk, even Traveller. Gold's da only thing I trust."
                    [/message]
                    [fire_event]
                        name=Rboekmocqu_talk
                        [primary_unit]
                            x,y=$x1,$y1
                        [/primary_unit]
                    [/fire_event]
                [/command]
            [/option]
			[option]
				message=_"Can we do something for you?"
				[command]
                    [store_gold]
                        side=1
                        variable=gold
                    [/store_gold]
					[message]
						speaker=Rboekmocqu
						message= _ "If ya're interested, I could fight fo ya. But if ya want me t'fight fo ya, ya havta EARN ma trust (91150 gold)."
                        [option]
                            message=_"Is this enough a proof of trust?"
                            [command]
                                [if]
                                    [variable]
                                        name=gold
                                        greater_than_equal_to=91150
                                    [/variable]
                                    [else]
                                        [message]
                                            speaker=Rboekmocqu
                                            message= _ "No, I still don't trust you (you do not have enough gold)."
                                        [/message]
                                    [/else]
                                    [then]
                                        [gold]
                                            side=1
                                            amount=-91150
                                        [/gold]
                                        [modify_unit]
                                            [filter]
                                                id=Rboekmocqu
                                            [/filter]
                                            side=1
                                        [/modify_unit]
                                        [allow_recruit]
                                            side=1
                                            type=Dwarvish Pathfinder
                                        [/allow_recruit]
                                        {VARIABLE party_members[$party_members.length].id Rboekmocqu}
                                        [message]
                                            speaker=Rboekmocqu
                                            message= _ "Deal! "
                                        [/message]
                                        [message]
                                            speaker=Rboekmocqu
                                            message= _ "I'll fight fo ya as long as I can but don't expect me t'bow before the kingdom's big shots. Da only authority I respect's mine."
                                        [/message]
                                        [message]
                                            speaker=narrator
                                            message=_"You can now recruit dwarvish pathfinders."
                                        [/message]
                                    [/then]
                                [/if]
                            [/command]
                        [/option]
                        [option]
                            message=_"Sorry, trust can't be bought."
                            [command]
                                 [message]
                                    speaker=Rboekmocqu
                                    message= _ "As ya wish! But pray da other side don't make me a better offer."
                                [/message]
                            [/command]
                        [/option]
                        {CLEAR_VARIABLE gold}
                        [fire_event]
                            name=Rboekmocqu_talk
                            [primary_unit]
                                x,y=$x1,$y1
                            [/primary_unit]
                        [/fire_event]
                    [/message]
                [/command]
            [/option]
            [option]
#textdomain wesnoth-lib
                message=_"Leave"
#textdomain wesnoth-loi
            [/option]
        [/message]
    [/event]

    [event]
		name=moveto
		[filter]
			side=1
			x=43
			y=17
		[/filter]

		[message]
			speaker=narrator
			image="scenery/signpost.png"
			message= _ "North: Oof's fortress
South: Fire Cliffs"
		[/message]

		[allow_undo]
		[/allow_undo]
	[/event]

	[event]
		name=sighted
		[filter]
			type=Dune Paragon
		[/filter]

		[filter_second]
			side=1
		[/filter_second]
		[message]
			speaker=second_unit
			message=_"It looks like the Dunefolk are blocking the bridge. We will have to defeat them to continue."
		[/message]
	[/event]

	[event]
		name=enter_hex
		[filter]
			side=1
		[/filter]
		[filter_condition]
			[have_location]
				x=73
				y=16
				[filter_vision]
					side=1
				[/filter_vision]
			[/have_location]
		[/filter_condition]
		[message]
			speaker=unit
			message=_"There is an elevator here."
		[/message]
		[cancel_action]
		[/cancel_action]
	[/event]

	[event]
		name=moveto
		first_time_only=no
		[filter]
			side=1
			x=73
			y=16
		[/filter]
		[if]
			[variable]
				name=unit.variables.hero
				equals=yes
			[/variable]
			[then]
				[message]
					speaker=unit
					message= _ "I don't see any path going further. I think we will have to take the elevator."
				[/message]
				[if]
					[have_unit]
						race=dwarf
						side=1
					[/have_unit]
					[then]
						[role]
							role=dwarf
							race=dwarf
						[/role]
						[message]
							role=dwarf
							message=_"Let me have a look at it before we all die falling from up there."
						[/message]
						{MOVE_UNIT role=dwarf 73 16}
						[message]
							role=dwarf
							message=_"I hate to admit that, but that's a nice piece of machinery..."
						[/message]
						[message]
							speaker=Io
							message=_"You won't admit that it is better than dwarvish ones, will you?"
						[/message]
					[/then]
				[/if]
				{END_FOOD}
				[endlevel]
					bonus=no
					result=victory
					{NEW_GOLD_CARRYOVER 100}
				[/endlevel]
			[/then]
			[else]
				[if]
					[have_unit]
						side=2
					[/have_unit]
					[then]
						[message]
							speaker=Io
							message= _ "Wait for us! We are still fighting the Dunefolk here!"
						[/message]
					[/then]
					[else]
						[message]
							speaker=Io
							message= _ "Wait for us! We are still fighting the animals here!"
						[/message]
					[/else]
				[/if]
				[allow_undo]
				[/allow_undo]
			[/else]
		[/if]
	[/event]

	[event]
		name=side 1 turn 100
		[message]
			speaker=Io
			message=_"How many Dunefolk are there?"
		[/message]
		[message]
			id="Teumiuxe","Csia","Rboekmocqu","Skepf"
			message="Not all of them, but they probably sent most of their warriors. We are at war against them after all."
		[/message]
	[/event]

	[event]
		name=time over
		[store_locations]
			terrain=Wot,Wot^*
			[filter_adjacent_location]
				[filter]
					id=Io
				[/filter]
			[/filter_adjacent_location]
			variable=lizard_hex
		[/store_locations]
		[if]
			[variable]
				name=lizard_hex.length
				greater_than=0
			[/variable]
			[then]
				[item]
					x,y=lizard_hex[0].x,lizard_hex[0].y
					image=units/monsters/dreadscale.png
				[/item]
				[message]
					speaker=narrator
					image="units/monsters/dreadscale.png"
					message=_"Wheeee!"
				[/message]
				[message]
					speaker=Io
					message=_"Aaahhh!"
				[/message]
				[message]
					speaker=narrator
					message=_"You were eaten by a Dreadscale."
				[/message]
			[/then]
			[else]
				[message]
					speaker=Io
					message=_"As if fighting Dunefolk was not enough, now we have to fight wild animals on top of that. I don't see how we could progress further."
				[/message]
			[/else]
		[/if]
	[/event]

	[event]
		name=victory
		{CLEAR_VARIABLE lizard_hex}
	[/event]

	{DROPS 20 0 (bow, xbow) yes 2,3}

	{DISABLE_NEGATIVE_INCOME 1}

	{GLOBAL_EVENTS}
[/scenario]