#textdomain wesnoth-loi
[scenario]
	id="42_Desert_Bridges"
	name= _ "Desert Bridges"
	map_data="{~add-ons/Legends_of_Idaamub/maps/42_Desert_Bridges.map}"
	victory_when_enemies_defeated=no
	next_scenario=43_Western_Village

	{TURNS 60 60 60}

	{DEFAULT_SCHEDULE}
	{DEFAULT_MUSIC_PLAYLIST}

	{PLACE_IMAGE scenery/signpost.png 6 16}
	{PLACE_IMAGE scenery/signpost.png 9 22}

	[event]
        name=prestart

        [set_variable]
            name=scenario_number
            value=42
        [/set_variable]

        {SCATTER_IMAGE (terrain=Dd) 5 scenery/monolith2.png}
        [item]
        	x=10
        	y=14-16
        	halo="terrain/desert-bridge-s-n.png"
        [/item]
        [tunnel]
        	[filter]
        	[/filter]
        	[source]
        		x,y=10,13
        	[/source]
        	[target]
        		x,y=10,17
        	[/target]
        [/tunnel]

        [objectives]
            side=1
            [objective]
                description= _ "Find and subdue the Dunefolk western village"
                condition=win
            [/objective]
            [objective]
                {ALTERNATIVE_OBJECTIVE_CAPTION}
                description= _ "Get rid of all aggressive Dunefolk"+{EARLY_FINISH_BONUS_FOOTNOTE}
                condition=win
            [/objective]
            [objective]
                description= _ "Death of Io"
                condition=lose
            [/objective]
            {TURNS_RUN_OUT}

            [gold_carryover]
                bonus=yes
                carryover_percentage=100
            [/gold_carryover]
        [/objectives]

        {LOI_RECALL_ALL 33 14}
    [/event]

    [side]
        type="Young Man LoI"
        id=Io
        name="Io"
        x=33
        y=14
        fog=no
        shroud=yes
        profile=portraits/Io.png
        side=1
		defeat_condition=no_units_left
        canrecruit=yes
        controller=human
        team_name=heroes
        user_team_name=_"Heroes"
    [/side]

    [side]
		fog=no
		hidden=no
		no_leader=yes
		shroud=no
		side=2
		team_name=dunefolk
		user_team_name={STR_DUNEFOLK}
		[unit]
			ai_special=guardian
			name="Taldamam"
			side=2
			type="Dune Windbolt"
			x=32
			y=11
		[/unit]
		[unit]
			ai_special=guardian
			name="Fadl bin Maʿd"
			type="Dune Windbolt"
			x=19
			y=6
		[/unit]
		[unit]
			ai_special=guardian
			name="Faiq"
			type="Dune Windbolt"
			x=21
			y=19
		[/unit]
		[unit]
			ai_special=guardian
			name="ʿAjyad"
			type="Dune Windbolt"
			x=11
			y=15
		[/unit]
		[unit]
			ai_special=guardian
			name="Suir"
			type="Dune Windbolt"
			x=6
			y=15
		[/unit]
		[unit]
			ai_special=guardian
			name="Alyad ibnWasim"
			type="Dune Windbolt"
			x=6
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			name="Lufen"
			type="Dune Windbolt"
			x=6
			y=12
		[/unit]
		[unit]
			ai_special=guardian
			name="Nuh ibnLut"
			type="Dune Windbolt"
			x=8
			y=6
		[/unit]
		[unit]
			ai_special=guardian
			name="Zasur"
			type="Dune Windbolt"
			x=4
			y=4
		[/unit]
		[unit]
			ai_special=guardian
			name="Yaszuq al-Darah"
			type="Dune Windbolt"
			x=15
			y=2
		[/unit]
		[unit]
			ai_special=guardian
			name="Razmam"
			type="Dune Windbolt"
			x=11
			y=23
		[/unit]
		[unit]
			ai_special=guardian
			name="Dumal"
			type="Dune Windbolt"
			x=19
			y=26
		[/unit]
		[unit]
			ai_special=guardian
			name="Waih"
			type="Dune Windbolt"
			x=4
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			name="Razail"
			type="Dune Spearmaster"
			x=7
			y=4
		[/unit]
		[unit]
			ai_special=guardian
			name="Tahiin"
			type="Dune Spearmaster"
			x=7
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			name="Qaen bin Qays"
			type="Dune Spearmaster"
			x=6
			y=14
		[/unit]
		[unit]
			ai_special=guardian
			name="Zaras"
			type="Dune Spearmaster"
			x=15
			y=23
		[/unit]
		[unit]
			ai_special=guardian
			name="Osalih"
			type="Dune Spearmaster"
			x=27
			y=8
		[/unit]
		[unit]
			ai_special=guardian
			name="Alazuq"
			type="Dune Spearmaster"
			x=20
			y=7
		[/unit]
		[unit]
			ai_special=guardian
			name="Laair al-Nuh"
			type="Dune Spearmaster"
			x=16
			y=22
		[/unit]
		[unit]
			ai_special=guardian
			name="Fabi"
			type="Dune Spearmaster"
			x=31
			y=12
		[/unit]
		[unit]
			ai_special=guardian
			name="Abiyad al-Sif"
			type="Dune Spearmaster"
			x=20
			y=21
		[/unit]
		[unit]
			ai_special=guardian
			name="Thazuq"
			type="Dune Firetrooper"
			x=17
			y=15
		[/unit]
		[unit]
			ai_special=guardian
			name="Labsim"
			type="Dune Firetrooper"
			x=16
			y=20
		[/unit]
		[unit]
			ai_special=guardian
			name="ʿAkyl bin Lut"
			type="Dune Firetrooper"
			x=19
			y=20
		[/unit]
		[unit]
			ai_special=guardian
			name="Jalih"
			type="Dune Firetrooper"
			x=8
			y=3
		[/unit]
		[unit]
			ai_special=guardian
			name="Abimam ibnDin"
			type="Dune Firetrooper"
			x=10
			y=1
		[/unit]
		[unit]
			ai_special=guardian
			name="Miʾnan"
			type="Dune Firetrooper"
			x=15
			y=4
		[/unit]
		[unit]
			ai_special=guardian
			name="Lamal"
			type="Dune Firetrooper"
			x=26
			y=5
		[/unit]
		[unit]
			ai_special=guardian
			name="Razkarras"
			type="Dune Firetrooper"
			x=24
			y=8
		[/unit]
		[unit]
			ai_special=guardian
			name="ʿIkrisim bin Ragas"
			type="Dune Firetrooper"
			x=5
			y=5
		[/unit]
		[unit]
			ai_special=guardian
			name="Alaail"
			type="Dune Firetrooper"
			x=19
			y=27
		[/unit]
		[unit]
			ai_special=guardian
			name="Laraj"
			type="Dune Firetrooper"
			x=21
			y=27
		[/unit]
		[unit]
			ai_special=guardian
			name="Zawah"
			type="Dune Firetrooper"
			x=17
			y=20
		[/unit]
		[unit]
			ai_special=guardian
			name="Yasya"
			type="Dune Firetrooper"
			x=19
			y=17
		[/unit]
		[unit]
			ai_special=guardian
			name="Maʿd al-Bushr"
			type="Dune Firetrooper"
			x=21
			y=11
		[/unit]
		[unit]
			ai_special=guardian
			name="Munʾsur"
			type="Dune Firetrooper"
			x=17
			y=6
		[/unit]
		[unit]
			ai_special=guardian
			name="Ralah"
			type="Dune Firetrooper"
			x=14
			y=22
		[/unit]
		[unit]
			ai_special=guardian
			name="ʿAjad"
			type="Dune Harrier"
			x=6
			y=19
		[/unit]
		[unit]
			ai_special=guardian
			name="Arij al-Fadl"
			type="Dune Harrier"
			x=10
			y=11
		[/unit]
		[unit]
			ai_special=guardian
			name="Jauz"
			type="Dune Harrier"
			x=20
			y=19
		[/unit]
		[unit]
			ai_special=guardian
			name="Razwa al-Maʿd"
			type="Dune Harrier"
			x=19
			y=18
		[/unit]
		[unit]
			ai_special=guardian
			name="Imdaas"
			type="Dune Blademaster"
			x=20
			y=15
		[/unit]
		[unit]
			ai_special=guardian
			name="Qazuq ibnSud"
			type="Dune Blademaster"
			x=10
			y=21
		[/unit]
		[unit]
			ai_special=guardian
			name="Mujamam"
			type="Dune Blademaster"
			x=17
			y=24
		[/unit]
		[unit]
			ai_special=guardian
			name="Zaba"
			type="Dune Blademaster"
			x=21
			y=26
		[/unit]
		[unit]
			ai_special=guardian
			type="Wyvern Rider"
			x=9
			y=13
		[/unit]
	[/side]

	[side]
		fog=no
		hidden=no
		no_leader=yes
		shroud=no
		side=3
		team_name=dunefolk
		user_team_name=_"Wildlife"
		[unit]
			ai_special=guardian
			type="Swamp Lizard"
			x=14
			y=18
		[/unit]
		[unit]
			ai_special=guardian
			type="Swamp Lizard"
			x=12
			y=2
		[/unit]
		[unit]
			ai_special=guardian
			type="Swamp Lizard"
			x=17
			y=21
		[/unit]
		[unit]
			ai_special=guardian
			type="Swamp Lizard"
			x=6
			y=2
		[/unit]
		[unit]
			ai_special=guardian
			type="Swamp Lizard"
			x=15
			y=17
		[/unit]
		[unit]
			ai_special=guardian
			type="Swamp Lizard"
			x=21
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			type="Swamp Lizard"
			x=3
			y=23
		[/unit]
		[unit]
			ai_special=guardian
			type="Swamp Lizard"
			x=5
			y=9
		[/unit]
		[unit]
			ai_special=guardian
			type="Giant Spider"
			x=13
			y=2
		[/unit]
		[unit]
			ai_special=guardian
			type="Giant Spider"
			x=8
			y=5
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=14
			y=15
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=5
			y=17
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=27
			y=6
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=28
			y=9
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=3
			y=20
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=8
			y=15
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=2
			y=19
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=16
			y=16
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=26
			y=10
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=23
			y=12
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=3
			y=5
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=31
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=16
			y=12
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=10
			y=8
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=31
			y=7
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=2
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=22
			y=14
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=29
			y=13
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=30
			y=16
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=4
			y=8
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=30
			y=15
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=19
			y=23
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=22
			y=9
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=3
			y=8
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=24
			y=19
		[/unit]
		[unit]
			ai_special=guardian
			type="Wild Wyvern"
			x=26
			y=19
		[/unit]
	[/side]

	[event]
		name=prestart

		#ifdef HARD
		[terrain]
			x=32,34
			y=14,14
			terrain=Dd
		[/terrain]
		#endif

		#ifdef EASY
		[terrain]
			x=31,35
			y=14,14
			terrain=Ce
		[/terrain]
		#endif
	[/event]

	[event]
		name=start
		[message]
			speaker=Io
			message=_"Looks like we have a little welcome committee up there. It reminds me of that time in the mine."
		[/message]
		[message]
			speaker=Io
			message=_"At least, it must mean that we are getting close to the village."
		[/message]
		[message]
			speaker=Io
			message=_"Our mission is to subdue it and then to continue our journey to Idaamub's castle. Let's go."
		[/message]
		[message]
			speaker=Ubidaiubua
			message=_"Don't forget that we also need to find my cousin."
		[/message]
	[/event]

	[event]
		name=moveto
		[filter]
			side=1
			x=6
			y=16
		[/filter]

		[message]
			speaker=narrator
			image="scenery/signpost.png"
			message= _ "North: Fire Cliffs
East: Of's Fortress"
		[/message]

		[allow_undo]
		[/allow_undo]
	[/event]

	[event]
		name=moveto
		[filter]
			side=1
			x=9
			y=22
		[/filter]

		[message]
			speaker=narrator
			image="scenery/signpost.png"
			message= _ "North: Of's Fortress
South-East: Fire Cliffs, Idaamub's Castle"
		[/message]

		[allow_undo]
		[/allow_undo]
	[/event]

	[event]
		name=sighted
		[filter]
			type=Wyvern Rider
		[/filter]

		[filter_second]
			side=1
		[/filter_second]
		[message]
			speaker=second_unit
			message=_"What's that? It looks like there is someone on that Wyvern."
		[/message]
		[message]
			id="Rboekmocqu","Skepf","Teumiuxe"
			message=_"I heard that some of the Dunefolk are brave, or mad, enough to try to tame Wyverns. It looks like this one succeeded."
		[/message]
	[/event]

	[event]
		name=enter_hex
		[filter]
			side=1
		[/filter]
		[filter_condition]
			[have_location]
				terrain=Xoi
				[filter_vision]
					side=1
				[/filter_vision]
			[/have_location]
		[/filter_condition]
		[message]
			speaker=unit
			message=_"This must be the village. Now let's find the entrance."
		[/message]
		[cancel_action]
		[/cancel_action]
	[/event]

	[event]
		name=enter_hex
		[filter]
			side=1
		[/filter]
		[filter_condition]
			[have_location]
				x,y=14,25
				[filter_vision]
					side=1
				[/filter_vision]
			[/have_location]
		[/filter_condition]
		[message]
			speaker=unit
			message=_"Here is the entrance."
		[/message]
		[message]
			speaker=Io
			message=_"This is weird, the portal is open, there is no one guarding it and I see no one on the wall."
		[/message]
		[message]
			speaker=Io
			message=_"Let's hope it is because they had sent every soldier out to stop us from arriving to the village."
		[/message]
		[cancel_action]
		[/cancel_action]
	[/event]

	[event]
		name=enter_hex
		first_time_only=no
		[filter]
			side=1
			x=14
			y=25
		[/filter]
		[if]
			[variable]
				name=unit.variables.hero
				equals=yes
			[/variable]
			[then]
				[message]
					speaker=unit
					message= _ "Let's enter the village."
				[/message]
				[message]
					speaker=Io
					message= _ "I hope it is not a trap."
				[/message]
				{END_FOOD}
				[endlevel]
					bonus=no
					result=victory
					{NEW_GOLD_CARRYOVER 100}
				[/endlevel]
			[/then]
			[else]
				[message]
					speaker=Io
					message= _ "Wait for us! We are still fighting the Dunefolk here!"
				[/message]
				{MOVE_UNIT x,y=14,25 14 24}
			[/else]
		[/if]
	[/event]

	[event]
		name=die
		first_time_only=no
		[filter]
			side=2
		[/filter]
		[if]
			[have_unit]
				side=2
			[/have_unit]
			[else]
				[message]
					speaker=second_unit
					message= _ "I don't see any other Dunefolk around here. He must have been the last one."
				[/message]
				[message]
					speaker=unit
					message= _ "Let's enter the village."
				[/message]
				[message]
					speaker=Io
					message= _ "I hope it is not a trap."
				[/message]
				{END_FOOD}
				[endlevel]
					bonus=yes
					result=victory
					{NEW_GOLD_CARRYOVER 100}
				[/endlevel]
			[/else]
		[/if]
	[/event]

	[event]
		name=time over
		[message]
			speaker=Io
			message=_"Dunefolk are indeed as good fighters as blacksmith. I don't think we will be able to reach the village."
		[/message]
	[/event]

	{DROPS 20 0 (bow, xbow, staff,sword,polearm,mace) yes 2,3}

	{DISABLE_NEGATIVE_INCOME 1}

	{GLOBAL_EVENTS}
[/scenario]