#textdomain wesnoth-units
[unit_type]
    id=Gobot Flamethrower
    name= _ "Gobot Flamethrower"
    race=steelhive
    image="units/gobots/thunderguard.png"
    profile="portraits/gobot-thunderer.png"
    hitpoints=47
    movement_type=steelhive_melee
    movement=4
    experience=95
    level=2
    alignment=neutral
    advances_to=""
    cost=27
    usage=archer
    description= _ "This curious machine looks like a Dragonguard made out of metal. The machinations behind this weaponry are a mystery, a secret taken to the grave by the goblins who wield them, and are assumed to have even forged them. The most that is known are reports of goblins pouring a strange liquid into the mouth of these weapons, which some say is a food to fuel the beast imprisoned within.

Though a single shot from these machines can take several minutes to prepare, the results are seen by the goblins as being well worth the wait."
    {STEELHIVE_SOUND:DIE}
    {STANDING_ANIM_DIRECTIONAL_6_FRAME_FILTERED "units/gobots/thunderguard" {WOUNDED_UNIT ()} }
    {STANDING_ANIM_DIRECTIONAL units/gobots/thunderguard.png units/gobots/thunderguard-ne.png }
    {DEFENSE_ANIM_DIRECTIONAL "units/gobots/thunderguard-se-defend2.png" "units/gobots/thunderguard-se-defend1.png" "units/gobots/thunderguard-ne-defend2.png" "units/gobots/thunderguard-ne-defend1.png" {STEELHIVE_SOUND:BEEPS}}

    [attack]
        name=flamethrower
        description=_"flamethrower"
        type=fire
        range=ranged
        damage=28
        number=1
        [specials]
            {WEAPON_SPECIAL_HOSE}
        [/specials]
        icon=attacks/flamethrower.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=flamethrower
        [/filter_attack]
        start_time=-750

        [if]
            missile_start_time=-400
            [missile_frame]
                halo=projectiles/fire-breath-s-[1~5].png:80
                halo_x,halo_y=8,50
            [/missile_frame]
            direction=s
            [frame]
                image="units/gobots/thunderguard-s-ranged[1~4,4,2,1].png:[100*3,200,100*3]"
            [/frame]
            [frame]
                image="units/gobots/thunderguard.png:10"
            [/frame]
        [/if]
        [else]
            missile_start_time=-400
            [missile_frame]
                halo=projectiles/fire-breath-ne-[1~5].png:80
                halo_x,halo_y=35,-20
            [/missile_frame]
            direction=ne,nw
            [frame]
                image="units/gobots/thunderguard-ne-ranged[1~4,4,2,1].png:[100*3,200,100*3]"
            [/frame]
            [frame]
                image="units/gobots/thunderguard-ne.png:10"
            [/frame]
        [/else]
        [else]
            missile_start_time=-400
            [missile_frame]
                halo=projectiles/fire-breath-n-[1~5].png:80
                halo_x,halo_y=8,-50
            [/missile_frame]
            direction=n
            [frame]
                image="units/gobots/thunderguard-n-ranged[1~4,4,2,1].png:[100*3,200,100*3]"
            [/frame]
            [frame]
                image="units/gobots/thunderguard-ne.png:10"
            [/frame]
        [/else]
        [else]
            missile_start_time=-400
            [missile_frame]
                halo=projectiles/fire-breath-se-[1~5].png:80
                halo_x,halo_y=35,40
            [/missile_frame]
            direction=se,sw
            [frame]
                image="units/gobots/thunderguard-se-ranged[1~12].png:[100*3,200,100,70,150*2,100*4]"
            [/frame]
            [frame]
                image="units/gobots/thunderguard.png:10"
            [/frame]
        [/else]

        {SOUND:HIT_AND_MISS flame-big.ogg flame-big-miss.ogg -480}
    [/attack_anim]

    {MOVING_ANIM_DIRECTIONAL_10_FRAME "units/gobots/thunderguard"}
[/unit_type]
