#textdomain wesnoth-loi
[unit_type]
    id=Gobot Grenadeer
    name= _ "Gobot Grenadeer"
    # wmllint: general spelling grenadeer grenadeers
    race=steelhive
    image="units/gobots/thunderguard.png"
    profile="portraits/gobot-thunderer.png"
    hitpoints=47
    movement_type=steelhive_melee
    movement=4
    experience=95
    level=2
    alignment=neutral
    # advances_to=Gobot Dragonguard
    advances_to=""
    cost=27
    usage=mixed fighter
    description= _ "This curious machine looks like a Dwarven Thunderguards made out of metal. The Dwarven Thunderguards are famed for their curious weaponry, these strange staves of wood and iron that make a thunderous noise in their anger. The machinations behind this weaponry are a mystery, a secret taken to the grave by the dwarves of Knalga who wield them, and are assumed to have even forged them. The most that is known are reports of dwarves pouring a strange black dust into the mouth of their weapons, which some say is a food to fuel the beast imprisoned within. It seems that goblins tried to replicate them, leading to a strange machine able to shoot explosive spheres.

Though a single shot from these ‘boomsticks’ can take several minutes to prepare, the results are seen by the goblins as being well worth the wait."
    die_sound={STEELHIVE_SOUND:DIE}
    {STANDING_ANIM_DIRECTIONAL_6_FRAME_FILTERED "units/gobots/thunderguard" {WOUNDED_UNIT ()} }
    {STANDING_ANIM_DIRECTIONAL units/gobots/thunderguard.png units/gobots/thunderguard-ne.png }

    {DEFENSE_ANIM_DIRECTIONAL "units/gobots/thunderguard-se-defend2.png" "units/gobots/thunderguard-se-defend1.png" "units/gobots/thunderguard-ne-defend2.png" "units/gobots/thunderguard-ne-defend1.png" {SOUND_LIST:DWARF_HIT}}

    [attack]
        name=boomstick
        description=_"boomstick"
        type=fire
        range=ranged
        damage=28
        number=1
        [specials]
            {WEAPON_SPECIAL_EXPLOSIVE}
        [/specials]
        icon=attacks/thunderstick.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=thunderstick
        [/filter_attack]
        start_time=-750

        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH 2 1}
            direction=s
            hits=yes
            [frame]
                image="units/dwarves/thunderguard/thunderguard-s-ranged[1~12].png:[100*3,200,100,70,150*2,100*4]"
            [/frame]
            [frame]
                image="units/dwarves/thunderguard/thunderguard.png:10"
            [/frame]
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 4 7}
            direction=s
            hits=no
            [frame]
                image="units/dwarves/thunderguard/thunderguard-s-ranged[1~4,4,2,1].png:[100*3,200,100*3]"
            [/frame]
            [frame]
                image="units/dwarves/thunderguard/thunderguard.png:10"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH -1 16}
            direction=ne,nw
            hits=yes
            [frame]
                image="units/dwarves/thunderguard/thunderguard-ne-ranged[1~12].png:[100*3,200,100,70,150*2,100*4]"
            [/frame]
            [frame]
                image="units/dwarves/thunderguard/thunderguard-ne.png:10"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 8 -1}
            direction=ne,nw
            hits=no
            [frame]
                image="units/dwarves/thunderguard/thunderguard-ne-ranged[1~4,4,2,1].png:[100*3,200,100*3]"
            [/frame]
            [frame]
                image="units/dwarves/thunderguard/thunderguard-ne.png:10"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH -10 19}
            direction=n
            hits=yes
            [frame]
                image="units/dwarves/thunderguard/thunderguard-n-ranged[1~12].png:[100*3,200,100,70,150*2,100*4]"
            [/frame]
            [frame]
                image="units/dwarves/thunderguard/thunderguard-ne.png:10"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS -9 -4}
            direction=n
            hits=no
            [frame]
                image="units/dwarves/thunderguard/thunderguard-n-ranged[1~4,4,2,1].png:[100*3,200,100*3]"
            [/frame]
            [frame]
                image="units/dwarves/thunderguard/thunderguard-ne.png:10"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH -3 7}
            direction=se,sw
            hits=yes
            [frame]
                image="units/dwarves/thunderguard/thunderguard-se-ranged[1~12].png:[100*3,200,100,70,150*2,100*4]"
            [/frame]
            [frame]
                image="units/dwarves/thunderguard/thunderguard.png:10"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 11 8}
            direction=se,sw
            hits=no
            [frame]
                image="units/dwarves/thunderguard/thunderguard-se-ranged[1~4,4,2,1].png:[100*3,200,100*3]"
            [/frame]
            [frame]
                image="units/dwarves/thunderguard/thunderguard.png:10"
            [/frame]
        [/else]

        {SOUND:HIT_AND_MISS thunderstick.ogg thunderstick.ogg -250}
        {SOUND:HIT_AND_MISS thunderstick.ogg thunderstick-miss.ogg 0}
    [/attack_anim]

    {MOVING_ANIM_DIRECTIONAL_10_FRAME "units/gobots/thunderguard"}
[/unit_type]
