#textdomain wesnoth-loi
[unit_type]
    id=Mine Worm LoI
    name= _ "Mine Worm"
    race=monster
    image="units/monsters/mine-worm.png"
    profile="portraits/monsters/mine-worm.png"
    [standing_anim]
        start_time=0
        direction=s,sw,se
        [frame]
            image="units/monsters/mine-worm.png:30"
        [/frame]
    [/standing_anim]
    [standing_anim]
        start_time=0
        direction=n,nw,ne
        [frame]
            image="units/monsters/mine-worm-n.png:30"
        [/frame]
    [/standing_anim]
    hitpoints=50
    movement_type=underground
    [resistance]
        arcane=100
    [/resistance]
    movement=4
    experience=100
    level=2
    alignment=chaotic
    advances_to=Mhesi LoI
    cost=26
    undead_variation=serpent
    usage=fighter
    description= _ "Scholars differ as to the ancestry of the Mine Worm. Some hold that they were brought to the mine by the demons. Others hold that they have always been here. What is certain is that it is wise to avoid mines where they are known to congregate."
    die_sound=hiss-die.wav
    {DEFENSE_ANIM_DIRECTIONAL "units/monsters/mine-worm-attack-se-1.png" "units/monsters/mine-worm-attack-se-2.png" "units/monsters/mine-worm-attack-ne-1.png" "units/monsters/mine-worm-attack-ne-2.png" hiss-hit.wav}
    [abilities]
    	[hides]
            id=dig
            name= _ "dig"
            female_name= _ "female^dig"
            description= _ "This unit can hide underground, and remain undetected by its enemies.

Enemy units cannot see this unit while it is underground, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
            special_note=_"On soft ground, this unit’s ambush skill renders it invisible to enemies unless it is immediately adjacent or has revealed itself by attacking."
            affect_self=yes
            [filter]
                [filter_location]
                    terrain=Gg,Gs,Gd,Gll,Rb,Re,Rd,Aa,Dt,Urc,Iwr,Ior,Uu*,Ur,Tb,X*,*^X*,Ce*,Co*,Cv*,Cud,Cd*,Cte,Ke*,Kv*,Kd*,Kte
                [/filter_location]
            [/filter]
        [/hides]
    [/abilities]
    [attack]
        name=stings
        description=_ "stings"
        icon=attacks/javelin-orcish.png
        type=pierce
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
        range=ranged
        damage=2
        number=12
    [/attack]
    [attack_anim]
        [filter_attack]
            name=stings
        [/filter_attack]

        direction=se,sw
        offset=0
        start_time=-140
        [frame]
            image=units/monsters/mine-worm-attack-se-[1~6].png:[30*3,40,20,30]
        [/frame]
        {SOUND:HIT_AND_MISS spear.wav {SOUND_LIST:THROW} 0}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=stings
        [/filter_attack]

        direction=s
        offset=0
        start_time=-140
        [frame]
            image=units/monsters/mine-worm-attack-se-[1~4].png:[30*3,40]
        [/frame]
        {SOUND:HIT_AND_MISS spear.wav {SOUND_LIST:THROW} 0}
        [frame]
            image=units/monsters/mine-worm-attack-s-[5~6].png:[20,30]
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=stings
        [/filter_attack]

        direction=ne,nw
        offset=0
        start_time=-140
        [frame]
            image=units/monsters/mine-worm-attack-ne-[1~6].png:[30*3,40,20,30]
        [/frame]
        {SOUND:HIT_AND_MISS spear.wav {SOUND_LIST:THROW} 0}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=stings
        [/filter_attack]

        direction=n
        offset=0
        start_time=-140
        [frame]
            image=units/monsters/mine-worm-attack-ne-[1~4].png:[30*3,40]
        [/frame]
        {SOUND:HIT_AND_MISS spear.wav {SOUND_LIST:THROW} 0}
        [frame]
            image=units/monsters/mine-worm-attack-n-[5~6].png:[20,30]
        [/frame]
    [/attack_anim]
[/unit_type]
